---
import works from "../collections/work.json";
import PageHeading from "../components/page-heading.astro";
import WorkBlock from "../components/work-block.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="My Work">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Work"
      description="Here are some of the current sites I've worked on or made by myself"
    />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
      {
        works.map((project) => {
          return (
            <WorkBlock
              name={project.name}
              description={project.description}
              image={project.image}
              url={project.url}
            />
          )
        })
      }
    </div>
  </section>
</Layout>
